<%= render "layouts/navigate" %>


Our blog has <%= Article.status_count('public')%> archived articles and counting! 

<ul>
  <% @articles.each do |article| %>
    <%if article.show_article('public') %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

Your private articles:

<ul>
  <% @articles.each do |article| %>
    <%if article.show_article('private') && logged_in? && current_user.id == article.creator.to_i%>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>


